{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{%endblock title %} 
{% block content %}

<div class="accordion" id="accordionExample">
  {% for group in groupDevices %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne"> 
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{group.id}}" aria-expanded="true" aria-controls="collapseOne">
        <h5><a href={{ group.get_absolute_url }}>{{group.name}}</a> </h5>
      </button>          
    </h2>
    <div id="collapseOne-{{group.id}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">          
            {% for supp in group.device_set.all %}
            <div class="col">
              <div class="card shadow-sm">              
                <img src="/media/{{supp.image}}" alt="{{supp.name}}" width='100%' height="225px">
                <div class="card-body">
                    <div class="text-center">Mã thiết bị: {{supp.code}}.</div>
                    <div class="text-center">Tên thiết bị: {{supp.name}}.</div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group mt-3">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="">View</a></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}  
</div>
{% endblock content %}